<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    
    <script src="https://use.fontawesome.com/a055962f8f.js"></script>

</head>
<body >
    
    <% if (typeof(error) != "undefined") { %>
        <div class="alert alert-danger" >
            <strong>ERROR!</strong> <%= error %>
        </div>
    <%}%>
    <div class=" container p-3 my-3 bg-success text-white text-center">
        <h1>Video Chat</h1>


    <div class="container">

      <a class="btn  btn-primary btn-linkedin" href="https://www.linkedin.com/in/umair--khan/" target="_blank" >
            <span class="fa fa-linkedin"></span>
          </a>
          <a class="btn btn-dark btn-github" target="_blank" href="https://github.com/umairk-dev/zoom-clone">
            <span class="fa fa-github"></span>
          </a>
    </div>
      </div>


      <div class="container ">
        <div class="row justify-content-center align-items-center">
            <div class="form-group">
              
              <label>Join existing room with room ID</label>  
              <input type="text" class="form-control" id="roomId" placeholder="Enter Room ID">  
              <br/>            
              <button class="btn btn-lg btn-primary btn-block" onclick="joinRoom()">Join Room</button>       
              
              <hr/>

              <button class="btn btn-lg btn-warning btn-block" onclick="window.location.href='/create';">Create Room</button>            

              
          </form>   
        </div>
      </div>




  


    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script>
      
        function joinRoom(){
            var roomId = $('#roomId').val();
            if(roomId != '')
                window.location.href='/room/'+roomId;
            else
            $('roomId').error("required")
        }

    </script>  

</body>
</html>